<fieldset>
  <legend>Source control repository upload</legend>
  <div><strong>Uploaded</strong> <%= version_state_img version, :uploaded %></div>
  
  <div>
      <% unless version.tested? %>
        <b style="color: red">Don't upload untested scripts!</b>
      <% end %>
      <%= render :partial => 'shared/vc_credentials_form' %>
      <br /><%= submit_tag 'Upload', :class => 'execute_button', :disabled => !version.tested?%>
      
  </div>
</fieldset>