<div class="span-24 last">
  <fieldset>
    <legend>Database credentials</legend>
      <div class="span-7">
        <b>User:</b> <%=h session[:db_credentials][:db_username] %>  
      </div>
      <div class="span-7">
        <b>Target schema:</b> <%=h session[:db_credentials][:target_schema] %>  
      </div>
      <div class="span-7 last align-left">
        <%= link_to 'change credentials', credentials_instance_schema_app_deploy_path(@app, @schema[:name], @db_instance) %>
      </div>
  </fieldset>
</div>