          <fieldset id="deploy_rollback_fieldset">
            <legend>Rollback</legend>        
            <%= form_tag(rollback_instance_schema_app_deploy_path(), :method => :post) do %>
              <p>
                <%= label_tag 'Rollback version' %><br />
                <%= select_tag(:target_version, options_for_select(rollback_versions.reverse)) %>
              </p>
              <p>
                <%= submit_tag 'Deploy rollback', :class => 'button clean_button' %>
              </p>
            <% end %>
            <br class="clear-both">
          </fieldset>
