<fieldset>
  <legend>New Database Deployment </legend>

  <%= form_for(@db_deploy) do |f| %>
   	<%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
</fieldset>