<% if activity_show_dev_actions(activity) %>
  <ul class="actions">
    <li class="destroy nomargin"><%= link_to 'Delete', delete_app_activity_path(activity.app, activity), :class => 'delete_activity_button', :confirm =>  delete_warning_text(activity), :method => :delete %></li>
    <li><%= link_to 'Create Version', new_app_activity_version_path(activity.app, activity), :class => 'create_version_button' %></li>
  </ul>
  <br class="clear"><br>
  <ul class="actions">
    <% if activity.db_instance.wipeable_schemas %>
      <li class="attention"><%= button_to 'Reset', reset_app_activity_path(activity.app, activity), :class => 'reset_activity_button', :method => :post %></li>
    <% end %>    
    <li><%= button_to 'Execute all', execute_app_activity_path(activity.app, activity), :class => 'execute_activity_button', :method => :post %></li>
  </ul>
<% end %>